<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>boolzapp</title>
    <link rel="stylesheet" href="./assets/master.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
  </head>
  <body>
    <!-- conteiner root per far funzionare vue -->

   <div id="root">
     <div class="bg-green">
     </div>
  <!-- conteiner-->
    <div class="container">
      <head>
        <!-- nav-bar-->
        <nav>
          <!-- nav-bar parte sinistra-->
          <div class="nav-left">
            <img class="img"src="./assets/img/avatar_5.jpg"alt="">

            <ul class="flex-end">
              <li><i class="fas fa-history"></i></li>
              <li><i class="fas fa-comment-alt"></i></li>
              <li><i class="fas fa-ellipsis-v"></i></li>
            </ul>
          </div>
        <!-- nav-bar parte destra-->
          <div class="right" >
            <!-- compare imagine a seconda del click della chat-->

            <div class="utente" v-if="contacts[index].messages.length !=0">
              <div class="img-name">
                <img class="img":src="'./assets/img/avatar' +  contacts[index].avatar + '.jpg'" alt="">
                <span>{{contacts[index].name}}
                <p id="color"v-if="contacts[index].messages.length > 0">Ultimo accesso {{ last_acces(index) }} </p></span>
              </div>

            <div>
              <ul class="flex-end">
                <li><i class="fas fa-search"></i></li>
                <li><i class="fas fa-paperclip"></i></li>
                <li><i class="fas fa-ellipsis-v"></i></li>
              </ul>
            </div>
            </div>
          </div>
        </nav>
      </head>
      <!--chiusura della nav-bar-->
      <!-- apertura side-bar-->
      <div class="side-bar">
        <!-- Section notifiche-->
          <div class="notifiche">
             <div class="circol">
               <i class="fas fa-bell-slash"></i>
             </div>

             <div class="ricevi-notifiche">
               <p>Ricevi notifiche dei nuovi messaggi</p>
               <a id="ulined" href="#">Attiva notifiche desktop</a>
             </div>

          </div>
        <!-- Section ricerca chat-->
          <div class="cerca">
            <i class="fas fa-search" ></i>
            <input type="text" v-model="input_search" placeholder="Cerca o inizia una nuova chat">
          </div>

      <!-- Section  contatti usando v-for per prendere le immaginicontenute nell oggetto contacts -->
          <div class="chat" v-for="(contact,i) in contacts"
            @click="index = i"
            v-if="contact.name.toLowerCase().includes(input_search.toLowerCase()) && contact.messages.length !=0">
            <img class="img" :src="'./assets/img/avatar' + contact.avatar + '.jpg'" alt="">
            <div class="nome">
              <p>{{contact.name}}</p>
              <p v-if="contact.messages.length > 0">{{ contact.messages[contact.messages.length - 1].text }}</p>

          </div>
      </div>
   <!-- CHIUSURA SIDDE-BAR -->
   <!-- APERTURA MAIN  chat-->
      <main>
        <div class="bg-sfondo">
          <div class="magico "v-for="(messaggio,i) in contacts[index].messages">
            <div :class="(messaggio.status == 'received') ? 'received messaggi' : 'sent messaggi' " >

              <p v-if="(messaggio.status == 'received') ? 'received messaggi' : 'sent messaggi' ">{{messaggio.text}}</p>
              <p class="data">{{ messaggio.date }}</p>
              <i class="fas fa-angle-down" @click="lista(i)"></i>
              <div
              :class= "(show == true && i == indice) ? 'show' : 'lista'">
                <p>Message info</p>
                <p @click="remove(i)">Delete message</p>
              </div>

            </div>
          </div>
        </div>
      </main>

      <footer>
        <div class="flex-start">
          <i class="fas fa-smile"></i>
          <input type="text" v-model="input" @keyup.enter="add" placeholder="Scrivi un messaggio">
          <i class="fas fa-microphone"></i>
        </div>
      </footer>
    </div>
   </div>


    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="./assets/dati.js" charset="utf-8"></script>
    <script src="./assets/main.js" charset="utf-8"></script>
  </body>
</html>
</html>
