<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>boolzapp</title>
    <link rel="stylesheet" href="./assets/master.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
  </head>
  <body>
   <div id="root">
     <div class="bg-green">
     </div>

    <div class="container">
      <head>
        <nav>
          <!-- <ul>
            <li v-for="contact in contacts">
              <img :src="'./assets/img/avatar' + contact.avatar + '.jpg'" alt="">
            </li>
          </ul> -->
          <div class="nav-left">
            <img class="img"src="./assets/img/avatar_5.jpg"alt="">

            <ul class="flex-end">
              <li><i class="fas fa-history"></i></li>
              <li><i class="fas fa-comment-alt"></i></li>
              <li><i class="fas fa-ellipsis-v"></i></li>
            </ul>
          </div>

          <div class="right" >
            <div class="utente"v-if="(user)">
              <img class="img":src="'./assets/img/avatar' +  user.avatar + '.jpg'" alt="">
              <span>{{user.name}}</span>
            </div>

            <div>
              <ul class="flex-end">
                <li><i class="fas fa-search"></i></li>
                <li><i class="fas fa-paperclip"></i></li>
                <li><i class="fas fa-ellipsis-v"></i></li>
              </ul>
            </div>
          </div>

        </nav>
      </head>
      <div class="nav-aside">

          <div class="notifiche">
             <div class="circol">
               <i class="fas fa-bell-slash"></i>
             </div>

             <div class="ciao">
               <p>Ricevi notifiche dei nuovi messaggi</p>
               <a id="ulined" href="#">Attiva notifiche desktop</a>
             </div>

          </div>

          <div class="cerca">
            <i class="fas fa-search"></i>
            <!-- <p>Cercao inizia una nuova chat</p> -->
            <input type="text" name="" value=""placeholder="Cerca o inizia una nuova chat">
          </div>

          <div class="chat" v-for="contact in contacts" @click="click_utente(contact)">
            <!-- <img class="img" src="./assets/img/avatar_1.jpg" alt=""> -->
            <img class="img" :src="'./assets/img/avatar' + contact.avatar + '.jpg'" alt="">

            <div class="nome">
              <!-- <p>michele</p> -->
              <p>{{contact.name}}</p>

            <div class="data">
              <!-- <p>12/122/21</p> -->
              <p></p>
            </div>
          </div>
      </div>
   <!-- CHIUSURA SIDDE-BAR -->

      <main>
        <div class="bg-sfondo">
          <div class="magico "v-for="(messaggio) in user.messages">
            <div :class="(messaggio.status == 'received') ? 'received messaggi' : 'sent messaggi' " >

              <p v-if="(messaggio.status == 'received') ? 'received messaggi' : 'sent messaggi' ">{{messaggio.text}}</p>
              <p v-if="(messaggio.status == 'received') ? 'received messaggi' : 'sent messaggi' ">{{messaggio.date}}</p>

            </div>
          </div>

        </div>

      </main>

      <footer>

        <div class="flex-start">
          <i class="fas fa-smile"></i>
          <input type="text" v-model="input" @keyup.enter="add(user)" placeholder="scrivi un messaggio">
        </div>

          <div class=" ci">
             <div class="ciao">
               <i class="fas fa-microphone"></i>
             </div>

          </div>

      </footer>



    </div>

   </div>


    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="./assets/dati.js" charset="utf-8"></script>
    <script src="./assets/main.js" charset="utf-8"></script>
  </body>
</html>
