<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boolzapp</title>
    <link rel="icon" href="./assets/img/whatsapp-logo.png" type="img/icon type">
    <link rel="preconnect" href="https://fonts.gstatic.com/%22%3E">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./assets/master.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
  </head>

  <body>
    <!-- conteiner root per far funzionare vue -->

   <div id="root":class="(dark) ? 'dark' : '' " @click= "indice = null" >
     <div class="bg-green">
     </div>
  <!-- conteiner-->
    <div class="container">
      <header >
        <nav >
          <!-- nav-bar parte sinistra-->
          <div class="nav-left"
          :class="(sinistra) ? 'active' : 'cosa' ">
            <img class="img"src="./assets/img/avatar_5.jpg"alt="">

            <ul class="flex-end">
            <!-- AGGIUNTA TASTO DADRK MODE -->
              <li><i class="fas fa-adjust" @click="dark_mod"></i></li>
              <li><i class="fas fa-history"></i></li>
              <li><i class="fas fa-comment-alt"></i></li>
              <li><i class="fas fa-ellipsis-v"></i></li>
            </ul>
          </div>
        <!-- nav-bar parte destra-->
          <div class="right" :class="(destra) ? 'active' : '' " >
            <!-- compare imagine a seconda del click della chat-->

            <div class="utente" v-if="contacts[index].messages.length !=0">
              <div class="img-name">
                <i class="fas fa-arrow-left" @click="lista_mex"></i>
                <img class="img":src="'./assets/img/avatar' +  contacts[index].avatar + '.jpg'" alt="">
                <span >{{contacts[index].name}}
                <p id="color" v-if="contacts[index].messages.length > 0">Ultimo accesso {{ last_acces(index) }} </p></span>
              </div>

            <div>
              <ul class="flex-end">

                <li><i class="fas fa-search"></i></li>
                <li><i class="fas fa-paperclip"></i></li>
                <li><i class="fas fa-ellipsis-v"></i></li>
              </ul>
            </div>
            </div>
          </div>
        </nav>
      </header>
      <!--chiusura della nav-bar-->

      <!-- apertura side-bar-->


      <div class="side-bar"
        :class="(sinistra) ? 'active' : 'cosa' ">
        <!-- Section notifiche -->
          <div class="notifiche">
             <div class="circol" >
               <i class="fas fa-bell-slash"></i>
             </div>

             <div class="ricevi-notifiche">
               <p>Ricevi notifiche dei nuovi messaggi</p>
               <a id="ulined" href="#">Attiva notifiche desktop</a>
             </div>

          </div>
        <!-- Section ricerca chat  -->
        <section class="ricerca">
          <div class= "cerca">
            <i class="fas fa-search" ></i>
            <input type="text" v-model="input_search" placeholder="Cerca o inizia una nuova chat">
          </div>
        </section>


      <!-- Section  contatti usando v-for per prendere le immaginicontenute nell oggetto contacts -->
        <section class="contatti">
          <div class="chat"  v-for="(contact,i) in contacts"
            @click="mostra(i)"
            v-if="contact.name.toLowerCase().includes(input_search.toLowerCase()) && contact.messages.length !=0">
            <img class="img" :src="'./assets/img/avatar' + contact.avatar + '.jpg'" alt="">
            <div class="nome">
              <p>{{contact.name}}</p>
              <p v-if="contact.messages.length > 0">{{ contact.messages[contact.messages.length - 1].text }}</p>
              <span class="ora">{{ ora_minuti(contact.messages[contact.messages.length - 1].date) }}</span>
            </div>
          </div>
        </section>
      </div>

   <!-- CHIUSURA SIDDE-BAR -->
   <!-- APERTURA MAIN -->
      <main :class="(destra) ? 'active' : '' ">
        <div class="bg-sfondo">
          <div class="magico "v-for="(messaggio,i) in contacts[index].messages">
            <div :class="(messaggio.status == 'received') ? 'received messaggi' : 'sent messaggi' " >

              <p>{{messaggio.text}}</p>
              <p class="data">{{ ora_minuti(messaggio.date) }}</p>
              <i class="fas fa-angle-down" @click.stop="indice = i"></i>
              <div
              :class= "(indice == i) ? 'show' : 'lista'">
                <p>Message info</p>
                <p @click="remove(i)">Delete message</p>
              </div>

            </div>
          </div>
        </div>
      </main>

      <footer
      :class="(destra) ? 'active' : '' ">
        <div class="flex-start">
          <i class="fas fa-smile"></i>
          <input type="text" v-model="input" @keyup.enter="add" placeholder="Scrivi un messaggio">
          <i class="fas fa-microphone"></i>
        </div>
      </footer>
    </div>
   </div>


    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="./assets/dati.js" charset="utf-8"></script>
    <script src="./assets/main.js" charset="utf-8"></script>
  </body>
</html>
