*{
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: roboto;
  /* verdana  Helvetica Neue 75 Bold*/
}
body{
  background-color: lightgrey;
}
.bg-green{
  background-color: #009788;
  height: 150px;
}
/* height:85vh;
wit */
.container{
  width: 80%;
  margin: 0 auto;
  background-color: white;
  height: 85vh;
  /* height: 889px; */
  margin-top: -117px;
  position: relative;
  /* position: fixed;
  z-index: 2;
  top: 20px;
  left: 141px; */

  /* transform: translate(50%, 50%);130px;236 */

}
nav{
  height: 80px;
  background-color: #EBEEED;
  display: flex;
  align-items: center;
}
.nav-left{
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.right{
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* justify-content: space-around; */
  width: calc(100% - 400px);
}
.utente{
  display: flex;
  align-items: center;
}

.nav-aside{
  width: 400px;
  /* background-color: black; */
  height: 100vh;
}
.flex-end{
  list-style: none;
  display: flex;
  justify-content:flex-end;
}

.flex-end li i{
  margin: 0 10px;
  font-size: 25px;
}
.notifiche{
  height: 100px;
  border-right: 1px solid black;
  /* margin-top: 42px; */
  background-color: #9DE1FF;
  display: flex;
  align-items: center;
}
.circol{
  border-radius: 50px;
  height: 50px;
  width: 50px;
  background-color: white;
  margin-left: 10px;

}
.notifiche i{
  font-size: 20px;
  margin-left: 12px;
  margin-top: 14px;
}
#unlined{
 color: black;
}
.ciao{
  margin-left: 17px;
}
.cerca{
  border: 1px solid black;
  height: 50px;
  display:flex;
  align-items: center;

}
.cerca > i{
  margin-left: 20px;
  margin-right: 20px;
}
.cerca > input{
  width: 301px;
  border: 1px solid black;
}
.chat{
  height: 100px;
  /* background-color: black; */
  display: flex;
  align-items: center;
  border: 1px solid black;
}
.img{
  height: 50px;
  border-radius: 27px;
  margin: 0 10px;
}

/* .chat .nome > p{
 margin-top: -25px;
} */
.chat .data > p{
  margin-left: -50px;
  margin-top: 10px;

}
main{
  padding-left: 400px;
  padding-left: 400px;
  display: flex;
  flex-direction: row;
}

main > .bg-sfondo{
  position: absolute;
  top: 80px;
  height: calc(100% - 80px);
  width: calc(100% - 400px);
  background-image: url("../assets/img/mine.jpg");
  /* width: 656px; */
  /* width: 62%; */
}
.magico{
  display: flex;
  /* justify-content: flex-end; */
  flex-direction: column;

}
.messaggi{
  border-radius: 6px;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
}

.sent{
    background-color: #D9F8B8;
    margin-right: 46px;
    margin-top: 20px;
    margin-left: auto;
}
.received{
    background-color: #FFFFFF;
    margin-left: 46px;
    margin-top: 20px;
    width: 160px;
}
/* .data{
  text-align: right;
} */

/* main i{ */
  /* display: flex;
  justify-content: flex-end; */
/* } */
main .messaggi .lista{
  display: none;
  width: 100px;
  background-color: white;
}
main .messaggi i{
  display: none;
}
main .messaggi:hover i{
  display: block;
}
main .messaggi:hover .lista{
  display: block;
}
.lista > ul{
  list-style: none;
}



footer{
  /* padding-left: 418px; */
  height: 80px;
  position: absolute;
  bottom: 0px;
  background-color: #EBEEED;
  margin-left: 400px;
  width: calc(100% - 400px);
  display: flex;
  align-items: center;
}


.flex-start{
  display: flex;
  justify-content: space-between;
  /* margin: 0 30px; */
  width: 100%;
}
footer i{
  font-size: 35px;
  margin: 0 20px;
}
.flex-start input{
  border-radius: 15px;
  width: 80%;
}
/* .flex{
  display: flex;
  justify-content: flex-end;
} */
